{% extends "main_layout.html" %}
{% block title %}Project{% endblock %}
{% set active_page = "projects" %}
{% block content %}
<h1 class="text-center mt-5">Projects</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/project.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Project</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur Suspendisse ultrices hendrerit nunc vitae scrip sodales. Ac lectus vel risus suscipit ultrices Morbi dignissim mi non.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/project.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Project</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur Suspendisse ultrices hendrerit nunc vitae scrip sodales. Ac lectus vel risus suscipit ultrices Morbi dignissim mi non.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/project.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Project</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur Suspendisse ultrices hendrerit nunc vitae scrip sodales. Ac lectus vel risus suscipit ultrices Morbi dignissim mi non.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
